<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <title>Home Page</title>
    <link rel = "stylesheet" href = "a3.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header>
        <a href = "#" class = "emblem"><i class="fas fa-utensils"></i>Recipe</a>

        <div id = "menue" class = "fas fa-bars"></div>

        <nav class = "navbar">
            <a href = "#Home">Home</a>
            <a href = "Specials.html">Special Recipes</a>
            <a href = "#Rewiews">Reviews</a>
            <a href = "Register.html">Sign Up</a>
        </nav>

    </header>

    <section class = "home" id = "home">

        <div class = "content">
            <h2>Recipes of All Kinds </h2>
            <p>Where Passion Meets Hunger.</p>
            <a href = "Login.html" class = "button">Log In</a>
        </div>

        <div class = "image">
            <img src = "https://cdn.pixabay.com/photo/2014/12/21/23/28/recipe-575434_1280.png" alt ="website logo">
        </div>

    </section>
    
    <script src = "a3.js"></script>
</body>
</html> 