<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <title>Profile</title>
    <link rel = "stylesheet" href = "a3.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header>
        <a href = "#" class = "emblem"><i class="fas fa-utensils"></i>Recipe</a>

        <div id = "menue" class = "fas fa-bars"></div>

        <nav class = "navbar">
            <a href = "Home.html">Home</a>
            <a href = "Specials.html">Special Recipes</a>
            <a href = "#Rewiews">Reviews</a>
            <a href = "Register.html">Sign Up</a>
        </nav>

    </header>

    <h1>Hello</h1>
    
    <script src = "a3.js"></script>
</body>
</html> 