<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial scale = 1.0">
    <title>Home Page</title>
    <link rel = "stylesheet" href = "a3.css">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <header>
        <a href = "#" class = "emblem"><i class="fas fa-utensils"></i>Recipe</a>

        <div id = "menue" class = "fas fa-bars"></div>

        <nav class = "navbar">
            <a href = "Home.html">Home</a>
            <a href = "#Special">Special Recipes</a>
            <a href = "#Rewiews">Reviews</a>
            <a href = "#Login">Log In</a>
            <a href = "Register.html">Sign Up</a>
        </nav>

    </header>

    <section class = "home" id = "home">

        <div class = "content">
            <h2>Meet The Chefs </h2>
            <p>Where Passion Meets Hunger.</p>
        </div>

        <div class = "image">
            <img src = "chefs.jpg" alt ="Picture of the Chefs">
        </div>

    </section>
    
    <section class = "speciality" id = "speciality">
        <h1 class = "header1"> Our <span>Special Recipes</span></h1>
       
        <div class = "boxholder">
            <div class = "box">
                <img class = "image" src = "Pizza.PNG" alt = "Speciality Vegetarian Pizza">
                <div class = "content">
                    <img src ="cartoon pizza.PNG" alt = "">
                    <h2>Vegetarian Pizza</h2>
                    <p> Ingredients for Pizza</p>
                </div>
            </div>
        
            <div class = "box">
                <img class = "image" src = "Burger.PNG" alt = "Burger">
                <div class = "content">
                    <img src ="cartoon burger.PNG" alt = "Cartoon Burger">
                    <h2>Double Cheese Burger</h2>
                    <p> Ingredients for Burger</p>
                </div>
            </div>

            <div class = "box">
                <img class = "image" src = "Poutine.PNG" alt = "Poutine">
                <div class = "content">
                    <img src ="cartoon poutine.PNG" alt = "Cartoon Poutine">
                    <h2>Classic Poutine</h2>
                    <p> Ingredients for Poutine</p>
                </div>
            </div>

            <div class = "box">
                <img class = "image" src = "Ice Cream.PNG" alt = "Chocolate Ice Cream">
                <div class = "content">
                    <img src ="cartoon ice cream.PNG" alt = "Cartoon Ice Cream">
                    <h2>Chocolate Ice Cream</h2>
                    <p> Ingredients for Pizza</p>
                </div>
            </div>

            <div class = "box">
                <img class = "image" src = "Boston Cream Donut.PNG" alt = "Speciality Vegetarian Pizza">
                <div class = "content">
                    <img src ="cartoon boston cream donut.PNG" alt = "">
                    <h2>Boston Cream Donut</h2>
                    <p> Ingredients for Pizza</p>
                </div>
            </div>

            <div class = "box">
                <img class = "image" src = "Retro Milkshake.PNG" alt = "Retro Milshake">
                <div class = "content">
                    <img src ="cartoon retro milkshake.PNG" alt = "Cartoon Retro Milshake">
                    <h2>Retro Milshake</h2>
                    <p> Ingredients for Pizza</p>
                </div>
            </div>

        </div>

    </section>



    <script src = "a3.js"></script>
</body>
</html> 